@font-face {
    font-family: 'JetBrains';
    src: url('JetBrainsMono-Medium.ttf') format('truetype');
  }
@font-face {
    font-family: 'UniSans';
    src: url('UniSansHeavy.otf') format('truetype');
  }
  
  :root {
    --main-color: #ff0048;
    --sec-color: #0080ff;
    --background: #0a0a0a;
    --background-2: #ffffff0c; 
    --background-3: #35000f59;

    --border-radius: 20px;
    --padd-header: 15px 5%;
    --padd-footer: 10px 5%;
    --margins: 100px 7% 35px;
    --colorbn: white;
  }

  body {
    font-family: JetBrains;
    font-size: 18px;
    color: white;
    margin: 0;
    padding: 0;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  a {
    display: inline-flex;
  }

  .header {
    font-size: 24px;
    font-weight: bold;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    padding: var(--padd-header);
    background-color: var(--background-2);
    backdrop-filter: blur(5px);
    align-items: center;
  }
  
  .header-footer-div {
    display: flex;
    align-items: center;
    text-align: center;
  }

  .footer {
    font-size: 16px;
    font-weight: bold;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: auto;
    padding: var(--padd-footer);
    background-color: var(--background-2);
    backdrop-filter: blur(5px);
    align-items: center;
  }

  .logo {
    font-family: UniSans;
    font-size: 38px;
    background: linear-gradient(45deg, var(--sec-color), var(--main-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: -4px;
  }
  
  .logo-tiny {
    font-size: 28px;
  }
  
  .margins {
    padding: var(--margins);
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    box-sizing: border-box;
    gap: 20px;
    text-align: center;
  }

  .button {
    font-family: JetBrains;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    padding: 5px;
    align-items: center;
    border: solid 3px transparent;
    border-radius: var(--border-radius);
    color: var(--colorbn);
    gap: 15px;
  }

  .button svg {
    display: block;
    width: 25px;
    height: 25px;
  }

  .button:hover {
    color: var(--main-color);
  }
  
  .button-deco {
    background-color: var(--background-3);
    border-radius: var(--border-radius);
    border: solid 1px var(--main-color);
    display: flex;
    flex-direction: row;
  }

  .cards { 
    padding: 10px 20px;
    overflow:hidden;
    background-color: var(--background-2);
    border-radius: var(--border-radius);
    text-align: center;
    text-decoration: none;
    gap: 15px;
  }
    
  .name-cards {
    margin: 0;
    font-size: 36px;
    color: white;
    font-family: UniSans;
    text-decoration: none;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  .desc-cards {
    margin: 0;
    font-size: 16px;
    color: white;
    text-align: justify;
    text-decoration: none;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  .link-cards {
    text-decoration: none;
  }
  .img-cards {
    width: 150px;
    height: 150px;
    object-fit: contain;
  }

  .img-links-web{
    height: 50px;
    width: 50px;
  }

  .hide {
    display: none;
  }
@media (max-width: 1000px) {
  :root {
    --padd-header: 15px 5%;
  }
  body {
    background: inherit;
    background-color: var(--background);
  }
  /* .header {
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  .content {
    grid-template-columns: 1fr;
  }
  .off-thin {
    display: none;
  }
  .footer {
    flex-direction: column;
  }
}

@media (min-width: 1000px) and (max-width: 1900px) {
  .content {
    grid-template-columns: 1fr 1fr 1fr;
  }
}